.common div {
    display: inline-block;
    }
.cat, .dog, .parrot {
        height: 600;
        width: 500;
        border: 2px solid #858f99;
        border-left: 5px double #858f99;
        background-color: #dce1e5;
        margin-left: 50px;
        border-radius: 25px 25px 25px 25px;
        
    
    }
span {
    color: red;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
   
}
h2 {
    color: blue;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    
}
img {
    text-align: center;
    
}