.common div {
    display: inline-block;
    }
.cat, .dog, .parrot {
        height: 600;
        width: 500;
        border: 2px solid #858f99;
        background-color: #dce1e5;
        margin-left: 70px;
        
    
    }
span {
    color: red;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
   
}
h2 {
    color: blue;
    
}
img {
    text-align: center;
    
}